*{
    margin: 0;
    padding: 0;
    
}
header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
}

#cajaCentral {
    display: flex; 
    justify-content:center; 
    align-items: center; 
    gap: 20px; 
}

#imagen1{
    background-image: url('../imagenes/Homero-jefe.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; 
    height: 200px; 
    /*border: solid 2px yellow;*/
}

header h1 {
    font-family: 'Poppins', sans-serif; 
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
   /* border: solid 2px red;*/
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 400px;
    padding-left: 80px;
    padding-right: 80px;
    animation: colorChange 2.5s infinite alternate;
}
#patrulla{
    font-size: 37px;
}

#imagen2 {
    background-image: url('imagenes/HomeroyMoe.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; 
    height: 200px; 
    /*border: solid 2px yellow;*/
}


header ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    text-decoration: none;
    color: #ecf0f1; /* Color inicial del texto */
    font-size: 18px;
    padding: 15px 45px;
    border: 2px solid transparent; /* Bordes invisibles inicialmente */
    transition: all 0.3s ease; /* Transición suave */
    position: relative; /* Necesario para algunos efectos */
    font-family: 'Poppins', sans-serif;
}

header ul li a:hover {
    color: #ffffff; /* Cambia el color del texto al blanco al hacer hover */
    background-color: #3498db; /* Color de fondo azul vibrante */
    border: 2px solid #3498db; /* Borde azul */
    border-radius: 5px;
    transform: scale(1.1); /* Aumenta el tamaño del enlace */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
}

header ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ffffff; /* Barra blanca */
    transition: width 0.3s ease, left 0.3s ease; /* Animación de la barra */
    transform: translateX(-50%);
}

header ul li a:hover::before {
    width: 100%; /* La barra se extiende completamente al hacer hover */
    left: 0;
}

@media (max-width: 600px) {
    header ul {
        flex-direction: column;
    }

    header ul li {
        margin: 10px 0;
    }
}
@keyframes colorChange {
    0% {
        color: #35D1F8; 
    }
    100% {
        color: #000000; 
    }
}
