<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Incidente</title>
    
</head>
<body id="idBodyInci">

<form id="idForm" action="/filtrado" method="post">
    <div>
        <label for="tipo">Tipo de incidente: </label>
        <select id="tipo" name="tipo"> 
            <option value="Robo">Robo</option> 
            <option value="Robo pira침a">Robo Pira침a</option>
            <option value="Accidente">Accidente</option>
            <option value="Incendio">Incendio</option>
            
    </div>
    
    <div>
        <label for="direccion">Direcci칩n</label> 
        <input type="text" name="direccion" placeholder="Direcci칩n" id="direccion"/>
    </div>
    <button type="submit">Consultar</button>
</form>
{{> incidencias/incidenciaTablaBorrar}}
</body>