Mapa de inseguridad
<form action="/incidencia/agregar" method="post">
    <div>
        <label for="tipo">Tipo de incidente: </label>
        <select id="tipo" name="tipo"> 
            <option value="Robo">Robo</option> 
            <option value="Robo piraña">Robo Piraña</option>
            <option value="Accidente">Accidente</option>
            <option value="Incendio">Incendio</option>
            
    </div>
    <div>
        <label for="descripcion">Descripción: </label>
        <textarea name="descripcion" cols="25" rows="5" placeholder="Aqui su descripción"></textarea>
    </div>
    <div>
        <label for="direccion">Dirección</label> 
        <input type="text" name="direccion" placeholder="Dirección" id="direccion"/>
    </div>
    <button>Registrar</button>
</form>