 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    
</head>
 <header>
<div id="cajaCentral">
        <div id="imagen1">

        </div>
        <div>
    <h1 id="patrulla">Patrulla vecinal</h1>
    <h1 >vigilancia las 24 hs</h1>
        </div>
        <div id="imagen2">

        </div>

    </div>
 
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="../incidencia">Incidencia</a></li>
        <li><a href="../sospechoso">Sospechoso</a></li>
    </ul>
 </header>
