 <header>

 <h1>vigilancia las 24 hs</h1>

    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="../incidencia">Incidencia</a></li>
        <li><a href="../incidencia">otras</a></li>
    </ul>
 </header>
