:root {
    --primary-color: #2c3e50;
    --secondary-color: #35D1F8;
    --text-color: #333;
    --background-color: #ecf0f1;
    --highlight-color: #007BFF;
    --hover-color: #3498db;
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}


header {
    background-color: var(--primary-color);
    color: #ecf0f1;
    padding: 15px 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: colorChange 1.5s infinite alternate;
    width: 600px;
}
#patrulla{
    font-size: 50px;
    line-height: 3;

}


@keyframes colorChange {
    0% {
        color: var(--secondary-color);
    }
    100% {
        color: #080808;
    }
}


header ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    padding: 15px 20px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

header ul li a:hover {
    color: #ffffff;
    background-color: var(--hover-color);
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}



#cajaCentral {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}


#imagen1{
    background-image: url('imagenes/Homero-jefe.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; 
    height: 200px; 
}

#imagen2 {
    background-image: url('imagenes/HomeroyMoe.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; 
    height: 200px; 
}

@keyframes colorChange1 {
    0% {
        color: var(--highlight-color);
    }
    25% {
        color: #FF6347;
    }
    50% {
        color: #32CD32;
    }
    75% {
        color: #FFD700;
    }
    100% {
        color: var(--highlight-color);
    }
}

#bodyIncidentes {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100vh; 
    display: flex;
    flex-direction: column;

}

#ulIncidentes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

#liIncidentes {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    width: 280px; 
    font-size: 14px; 
}

#liIncidentes ul {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #cb1313;
    text-transform: uppercase;
    
}

#liIncidentes p {
    font-size: 13px; 
    line-height: 1.4;
    margin: 5px 0;
    color: #333;
    
}

#liIncidentes p:first-of-type {
    font-weight: bold;
    color: #333;
}

#comentario {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f7f7f7;
}

#comentario:focus {
    border-color: #007BFF;
    background-color: #e6f7ff;
    outline: none;
}

#liIncidentes form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#liIncidentes  button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s ease; 
}

#liIncidentes form button:hover {
    background-color: #1e7e34; 
    transform: scale(1); 
}

#divIncidentes{
    border: solid 2px lightcoral;
}


#MapaInseguridad {
    font-family: 'Poppins', sans-serif; 
    font-size: 36px; 
    font-weight: bold; 
    color: #007BFF; 
    text-align: center; 
    margin-top: 50px; 
    animation: colorChange1 4s infinite; 
}



#idForm {
    background-color: #ffffff;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#idForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--primary-color);
}

#idForm input[type="text"],
textarea,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

#idForm button {
    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#idForm button:hover {
    background-color: var(--primary-color);
}


@media (max-width: 768px) {
    #idForm {
        padding: 15px;
    }

    header ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    #idForm {
        padding: 10px;
    }

    #MapaInseguridad {
        font-size: 40px;
    }
}
.coment{
    margin-top: 60px;
   
    
}
.gif-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url('imagenes/snake.gif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: white; 
    background-size: contain;
    margin: auto;
    
  } 
  .snake{
    padding-top: 30px;
    align-items: center;
    margin: auto;
  }
.snake h2{
    margin-top: 21px;
    text-align: center;
    margin: auto;
}
