<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patrulla vecinal</title>
    <link rel="stylesheet" href="src/public/estilo.css">
    


</head>
<body>
   {{> navbar}}
   <main>
    {{{ body }}}

   </main>
    
</body>
</html>